@import 'tailwindcss';

@theme {
  --color-green-50: #aff3c7;
  --color-green-100: #83eca8;
  --color-green-200: #57e589;
  --color-primary: #1db954;
  --color-green-400: #168d40;
  --color-green-500: #0f612c;
  --color-green-600: #083518;
  --color-darkest: #212121;	
--color-darker: #121212;	
--color-dark: #191414;	
--color-black08:#141414;
--color-black10:#1A1A1A;
--color-black12:#1F1F1F;
--color-black06:#0F0F0F;
--color-border:#99999934;

--color-light-dark: #b3b3b3;
--color-subtitle:#999999;
--breakpoint-tv: 1800px;
}

body{
  background-color: var(--color-dark);
  color: #ffffff;
  font-weight: 500;
}
.active{
color: var(--color-green-200);
}
::-webkit-scrollbar{
  height: 5px;
  width: 2px;
}
 ::-webkit-scrollbar-thumb {
    background: rgba(29, 185, 84, 0.222) ;
    border-radius: 10px;
  }